body{
    width: 75%;
    margin: auto;
    background-color: #e1e1e1;
}

.inline-display{
    display: inline;
}
.fs-18{
    font-size: 18px;
}

.panel1{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}