body {
    width: 75%;
    margin: auto;
    background-color: #e1e1e1;
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .navbar {
        padding-left: 20px;
    }
    .col-sm-12 {
        padding: 10px;
    }
    .col-sm-8 {
        padding-left: 0;
    }
    .change-height {
        height: 125%;
    }
    .team-image {
        width: 250px;
        height: 200px;
    }
    .login {
        width: 100%;
    }
}

.inline-display {
    display: inline;
}

.fs-18 {
    font-size: 18px;
}

.panel1 {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

@media only screen and (min-width: 600px) {
    .change-height {
        height: 100%;
    }
    .team-image {
        width: 400px;
        height: 200px;
    }
    .player-image {
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }

    .redColor {
        background-color: #E01111;
    }

    .cyanColor {
        background-color: #03CCEC;
    }

    .orangeColor {
        background-color: #F6BC16;
    }

    .greenColor {
        background-color: #12D818;
    }

    .textAlign {
        text-align: center;
    }

    .live-player-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .login {
        background: rgb(225, 225, 225);
        display: block;
        width: 35%;
        margin: auto;
        padding: 5%;
    }
    .remaining-player-image{
         width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}