<header></header>
    <div class="col-md-12" style="background-color: white;">
<div class="col-md-6 col-sm-12">
    <br/><br/>
    <div class="panel">
        <div class="col-md-12">
            <div class="inline-display">
                <img alt="Team1" src="img/1.png">
                <h1>{{teams[0].teamName}}</h1>
            </div>
        </div>
        <div class="col-md-12">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
        </div>
        <div class="col-md-12">
            <h3>Budget Remaining</h3><br/>
            <h4>Rs.{{teams[0].remainingBudget}} L/{{seasons.totalBudget}}</h4>
        </div>
        <div class="col-md-6 " ng-repeat="player in teams[0].players">
            <div>
                <img alt="user" src="img/1.png" />

            </div>
            <div>
                <h3>{{player.name}}</h3>
                <h5>({{player.price}})</h5>
            </div>
        </div>

    </div>

</div>





<!--two teams-->

<div class="col-md-6 col-sm-12" style="background-color: white;">
<br/><br/>
<div class="panel">
    <div class="col-md-12">
        <div class="inline-display">
            <img alt="Team1" src="img/1.png">
            <h1>{{teams[1].teamName}}</h1>
        </div>
    </div>
    <div class="col-md-12">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.
    </div>
    <div class="col-md-12">
        <h3>Budget Remaining</h3><br/>
        <h4>Rs.{{teams[1].remainingBudget}} L/{{seasons.totalBudget}} Crore</h4>
    </div>
    <div class="col-md-6 " ng-repeat="player in teams[1].players">
        <div>
            <img alt="user" src="img/1.png" />

        </div>
        <div>
            <h3>{{player.name}}</h3>
            <h5>({{player.price}})</h5>
        </div>
    </div>

</div>

</div>


</div>
<!--current bid-->

<div class="col-md-12" style="background-color: white;">

<div class="col-md-6">

    <h1> Currently Bidding For.. </h1>
    <div class="inline-display">
        <img alt="image" src="img/1.png">
        <h3> {{remainingPlayers[0].name}}</h3>
    </div>
    <div>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.
    </div>
    <br/>
    <table class="table table-striped table-bordered col-md-4">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rank</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Played</td>
                <td>{{remainingPlayers[0].played}}</td>
            </tr>
            <tr>
                <td>Won</td>
                <td>{{remainingPlayers[0].won}}</td>
            </tr>
            <tr>
                <td>Lost</td>
                <td>>{{remainingPlayers[0].lost}}</td>
            </tr>
            <tr>
                <td>Rating points</td>
                <td>+37</td>
            </tr>

        </tbody>
    </table>
</div>



<div class="col-md-6">
    <div>
        <h1 class="inline-display"> Live Feed </h1>
        <button class="btn btn-primary" style="position: absolute;margin-left: 65px;" ng-click="refresh()">Refresh</button>
    </div>
    <div class="inline-display" ng-repeat="feed in auctionFeed | limitTo: 3">
        <img alt="image" src="img/1.png" width="50">
        <h3>{{feed.teamName}} {{feed.bidType}} &#8377; {{feed.price}} for {{feed.playerName}}</h3>

    </div>

</div>
<div class="col-md-12" style="background-color: white;">
<h2>Current Top Bid : Rs.35 Lakhs by Team Manasa</h2>
</div>
<br/>
<br/>
</div>