<header></header>
<!--Test spinner-->
<!-- <button ng-click="startSpin()">Start spinner</button>
<button ng-click="stopSpin()">Stop spinner</button> -->

<span us-spinner spinner-key="spinner-1"></span>
<div class="col-md-12 bg-white">

    <!--1st team-->
    <div class="col-md-6 col-sm-12"><br/><br/>
        <div class="panel1">
        <!--team name division-->
        <div class="col-md-12">
            <div class="inline-display">
                <img alt="Team1" class="team-image" src="img/BullDozers.jpg">
                <h1>{{teams[0].teamName}}</h1>
            </div>
        </div>
         <!--team description division-->
        <div class="col-md-12">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
        </div>
         <!--team stats division-->
         <div class="col-md-12">
                <h2>Stats</h2>
                <table class="table table-striped table-bordered col-md-6">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>Rank</td>
                            <td>9</td>
                        </tr> -->
                        <tr>
                            <td>Played</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Won</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>
        </div>
         <!--players division-->
        <div class="col-md-12">
            <h2>Players</h2>
            <div class="col-md-4 mb30" ng-repeat="player in teams[0].players">
                <center>
                    <img class="player-image img-border" alt="user" ng-src="{{player.profilePic}}" />
                </center>
                <div class="textAlign">
                    <h3>{{player.name}}</h3>
                    <div ng-if="player.price != null">(&#8377; {{player.price | number}})</div>
                    <div ng-if="player.price == null"><b>(Owner)</b></div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!--2nd team-->
    <div class="col-md-6 col-sm-12 bg-white"><br/><br/>
        <div class="panel1">
            <!--division for team name -->
            <div class="col-md-12">
                <div class="inline-display">
                    <img alt="Team1" class="team-image" src="img/SmashDroppers.jpg">
                    <h1>{{teams[1].teamName}}</h1>
                </div>
            </div>
            <!--division for team description -->
            <div class="col-md-12">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
            </div>
            <!--division for team stats -->
            <div class="col-md-12">
                <h2>Stats</h2>
                <table class="table table-striped table-bordered col-md-6">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>Rank</td>
                            <td>9</td>
                        </tr> -->
                        <tr>
                            <td>Played</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Won</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--division for players-->
           <div class="col-md-12">
               <h2>Players</h2>
                <div class="col-md-4 mb30" ng-repeat="player in teams[1].players">
                        <center>
                            <img class="player-image" style="border:2px solid #030303;" alt="user" ng-src="{{player.profilePic}}" />
                        </center>
                        <div class="textAlign">
                            <h3>{{player.name}}</h3>
                            <div ng-if="player.price != null">(&#8377; {{player.price | number}})</div>
                            <div ng-if="player.price == null"><b>(Owner)</b></div>
                        </div>
                </div>
           </div>
        </div>
    </div>
</div>



<!--bid board-->



<div class="col-md-12 col-sm-12 bg-white ptb-10" ng-if="remainingPlayers.length >0">
    <!--bid board heading-->
    <h2 class="ml15 pb10 bb2"> Bid board </h2>
    <!--division for budget-->
    <div class="col-md-12 p0 bb2 pb10">

        <!--team1 budget-->
        <div class="col-md-6">
            <h3>Budget Remaining [BullDozers]</h3><br/>
            <h4>&#8377; {{teams[0].remainingBudget | number}} / &#8377; {{seasons.totalBudget | number}} </h4>
            <div class="progress border-common">
                <div class="progress-bar team1" ng-class="getColor(progressValue1,team1);" role="progressbar" 
                aria-valuenow="progressValue1" aria-valuemin="0" aria-valuemax="100">
                      {{progressValue1 | number:0}}% (left)
                </div>
             </div>
        </div>

        <!--team2 budget-->
         <div class="col-md-6 bl2">
                <h3>Budget Remaining [SmashDroppers]</h3><br/>
                <h4>&#8377;{{teams[1].remainingBudget | number}} / &#8377; {{seasons.totalBudget | number}} </h4>
                <div class="progress border-common">
                    <div class="progress-bar team2" ng-class="getColor(progressValue2,team2);" role="progressbar"
                     aria-valuenow="progressValue2" aria-valuemin="0"
                    aria-valuemax="100">
                    {{progressValue2 | number:0}}% (left)
                    </div> 
                </div>
        </div>
    </div>

    <!--teams bid action division-->
    <div class="col-md-3 col-sm-6">

        <!--team name-->
        <h2>BullDozers</h2>

        <!--slab value-->
        <h4 class="mt55">BID Slab: &#8377;{{slabValue | number}}</h4>

        <!--bid button-->
        <button class="btn btn-primary width-100" ng-if="userData.isAuctioneer" ng-click="bidByBulldozers()" >BullDozers Bid</button>

        <!--bid status-->
        <center>
            <div class="bid-status" ng-if="bidBy == 'bull-dozers'"></div> 
        </center>
    </div>

    <!--current bid division-->
    <div class="col-md-6 bl2 br2">

        <!--Player name,pic and current bid value-->
        <div class="col-md-6 col-sm-6">
            <h2>{{currentPlayerBidding.name}}</h2>
            <img class="current-bid-img" alt="image" ng-src="{{currentPlayerBidding.profilePic}}">
            <h4 class="mt25">Current BID</h4>
            <h3 class="m0"> &#8377;{{bidPrice | number}}</h3>
            <h3 ng-if="message">"You have exceeded the bidding range. So start from beginning!!!"</h3>
        </div>
        <!--player stats -->
        <div class="col-md-6 col-sm-6">
                <h2>Stats</h2>
                <table class="table table-striped table-bordered col-md-4">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>Rank</td>
                            <td>9</td>
                        </tr> -->
                        <tr>
                            <td>Played</td>
                            <td>{{currentPlayerBidding.played}}</td>
                        </tr>
                        <tr>
                            <td>Won</td>
                            <td>{{currentPlayerBidding.won}}</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td>{{currentPlayerBidding.lost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--win bid button-->
            <button class="btn btn-warning ml40 width-30" ng-if="userData.isAuctioneer" ng-disabled="bidPrice== 0" ng-click="wonBid()">Win</button> 
    </div>

    <!--team2 division-->
    <div class="col-md-3 col-sm-6">

        <!--team name-->
        <h2>SmashDroppers</h2>
        <h4 class="mt55">BID Slab: &#8377;{{slabValue | number}}</h4>
        <button class="btn btn-primary width-100" ng-if="userData.isAuctioneer" ng-click="bidBySmashDroppers()">SmashDroppers Bid</button>
        <center>
            <div class="bid-status" ng-if="bidBy == 'smash-droppers'"></div> 
        </center>
    </div>
</div>
<div class="col-md-12 textAlign bg-white" ng-if="remainingPlayers.length == 0">
   <h2>No Players available for bidding!!!<h2>
</div>





<!--live feed and remaining players division-->

<div class="col-md-12 bg-white" ng-if="remainingPlayers.length != 0">

    <!--live feed division-->
    <div class="col-md-6 bt2">

        <!--live feed name and refresh button-->
        <div class="mt20 mb10">
            <h1 class="inline-display">Live Feed </h1>
            <i class="fa fa-refresh fa-2x pointer-cursor" ng-click="refresh()"></i>
        </div>

        <!--live feed array-->
        <div class="mb30 mt30" ng-repeat="feed in auctionFeed | limitTo: 3">

                <!--team image based on team name-->
                <img class="live-player-image" ng-if="feed.teamName == 'Bulldozers'" alt="image" src="img/BullDozers.jpg" width="50">
                <img class="live-player-image" ng-if="feed.teamName == 'SmashDroppers'" alt="image" src="img/SmashDroppers.jpg" width="50">

                <!--live feed statements based on bid type-->
                <div class="inline-display fs16 mb20 ml20" ng-if="feed.bidType=='bids'">
                    <b>{{feed.teamName}}</b> 
                    <i>{{feed.bidType}}</i> &#8377;{{feed.price | number}} for <b>{{feed.playerName}}</b>
                </div>
                <div class="inline-display fs16 mb20 ml20" ng-if="feed.bidType=='wins'">
                    <b>{{feed.teamName}}</b> <i>{{feed.bidType}}</i>
                    <b> {{feed.playerName}}</b> for   &#8377;{{feed.price | number}}
                </div>
        </div>
    </div>

    <!--remaining players division-->
    <div class="col-md-6 bt2" >
        
        <!--remaining players heading-->
        <div class="mt20 mb20">
            <h1 class="inline-display">Remaining Players </h1>
        </div>

        <!--looping remaining players array and dont display first element-->
         <div ng-repeat="player in remainingPlayers" class="inline-display" ng-if="$index!=0">
                <img class="remaining-player-image mb20 border-2" alt="user" ng-src="{{player.profile_picture}}" />
        </div>

    </div>
    
</div>

