<span us-spinner spinner-key="spinner-1"></span>
<div class="loginscreen">
    <img alt="Team1" class="bpl-image" src="img/bpl.png">
    <!--<div class="container login" >
    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" ng-model="username"  class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" ng-model="password"  class="form-control" id="password">
        </div>
        <button class="btn btn-primary" style="width: 100%; margin-top:5%;" ng-click="login()">Login</button>
    </form>
</div>-->

    <div class="form">
        <div class="thumbnail1">
            <img alt="logo" src="img/bpl13.png" />
        </div>
        <form class="login-form">
            <input type="text" ng-model="username" placeholder="Username" id="username" />
            <input type="password" ng-model="password" placeholder="Password" id="password" />
            <button ng-click="login()">Login</button>
        </form>
    </div>
</div>
</div>