<div style="height: 10%;">
</div>
<div class="container login" >
    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" ng-model="username"  class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" ng-model="password"  class="form-control" id="password">
        </div>
        <button class="btn btn-primary" style="width: 100%; margin-top:5%;" ng-click="login()">Login</button>
    </form>
</div>