<header></header>
<div class="col-md-12" style="background-color: white;">

    <div class="col-md-12">
        <h1>Player Profiles Header</h1>

        <span style="float: right;">Sort By:</span>
    </div>
    
    <div class="col-md-6" ng-repeat="player in players">
        <div class="inline-display">
            <img alt="image" src="img/1.png">
            <h3> {{player.name}}</h3>
        </div>
        <div>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
        </div>
        <br/>
        <table class="table table-striped table-bordered col-md-4">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rank</td>
                    <td>{{player.rank}}</td>
                </tr>
                <tr>
                    <td>Played</td>
                    <td>{{player.played}}</td>
                </tr>
                <tr>
                    <td>Won</td>
                    <td>{{player.won}}</td>
                </tr>
                <tr>
                    <td>Lost</td>
                    <td>{{player.lost}}</td>
                </tr>
                <tr>
                    <td>Rating points</td>
                    <td>{{player.rating}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>