<header></header>
<!--Test spinner-->
<!-- <button ng-click="startSpin()">Start spinner</button>
<button ng-click="stopSpin()">Stop spinner</button> -->

<span us-spinner spinner-key="spinner-1"></span>
<div class="col-md-12 bg-white plr0">

    <!--1st team-->
    <div class="col-md-6 col-sm-12 plr0">
        <br/>
        <br/>
        <div class="panel1">
            <!--team name division-->
            <div class="col-md-12 col-sm-12">
                <div class="inline-display">
                    <img alt="Team1" class="team-image" src="img/BullDozers.jpg">
                    <h1>BullDozers</h1>
                </div>
            </div>
            <!--team description division-->
            <div class="col-md-12 col-sm-12">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
            </div>
            <!--team stats division-->
            <div class="col-md-12 col-sm-12">
                <h2>Stats</h2>
                <table class="table table-striped table-bordered col-md-6">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>Rank</td>
                            <td>9</td>
                        </tr> -->
                        <tr>
                            <td>Played</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Won</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Star rating -->
            <div class="col-md-12 col-sm-12">
                
            </div>
        </div>

    </div>

    <!--2nd team-->
    <div class="col-md-6 col-sm-12 bg-white plr0">
        <br/>
        <br/>
        <div class="panel1">
            <!--division for team name -->
            <div class="col-md-12 col-sm-12">
                <div class="inline-display">
                    <img alt="Team1" class="team-image" src="img/SmashDroppers.jpg">
                    <h1>SmashDroppers</h1>
                </div>
            </div>
            <!--division for team description -->
            <div class="col-md-12 col-sm-12">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
            </div>
            <!--division for team stats -->
            <div class="col-md-12 col-sm-12">
                <h2>Stats</h2>
                <table class="table table-striped table-bordered col-md-6 col-sm-8">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>Rank</td>
                            <td>9</td>
                        </tr> -->
                        <tr>
                            <td>Played</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Won</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Lost</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Star rating -->
            <div class="col-md-12 col-sm-12">
                
            </div>
        </div>
    </div>
</div>